@model MVCApp.Models.AnasayfaModel

@{
    ViewBag.Title = "Ana Sayfa Viev Model Kullanimi";
}

<h2>Ana Sayfa Model-Viev Kullanımı</h2>
<h3>
    Kullanıcı Bilgileri
</h3>
<h4>@Model.Kullanicinesnesi.KullaniciAdi</h4>
<h4>@Model.Kullanicinesnesi.Sifre</h4>
<h4>@Model.Kullanicinesnesi.Ad</h4>
<h4>@Model.Kullanicinesnesi.Soyad</h4>
<h4>@Model.Kullanicinesnesi.Email</h4>
<hr />

<h3>
    Adres Bilgileri
</h3>
<h4>@Model.Adresnesnesi.Sehir</h4>
<h4>@Model.Adresnesnesi.Ilce</h4>
<h4>@Model.Adresnesnesi.AcıkAdres</h4>






