
@{
    ViewBag.Title = "Html Helpers";
}

<h2>Html Helpers</h2>

@Html.ActionLink("Ana Sayfa","Index")
<hr/>

@Html.CheckBox("Onay") Onaylıyorum
<hr/>

@Html.TextArea("txtAdres")
<hr/>

@Html.TextBox("Fenerbahce")
<hr/>

@Html.RadioButton("Numara", "3")
<hr/>

@Html.Password("txtSifre")
<hr/>

@Html.Hidden("Murat Berberoglu" ,"deger")
